apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: stg-
namespace: staging
resources:
  - ../../base
patches:
  - target: { kind: Ingress, name: demo-api }
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: stg-demo.example.com
