apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: prod-
namespace: production
resources:
  - ../../base
patches:
  - target: { kind: ConfigMap, name: app-settings }
    patch: |-
      - op: replace
        path: /data/APP_ENV
        value: "production"
      - op: replace
        path: /data/APP_LOG_LEVEL
        value: "warn"
  - target: { kind: Secret, name: app-secrets }
    patch: |-
      - op: replace
        path: /data/DB_USER
        value: cHJvZF9hcHA=
      - op: replace
        path: /data/DB_PASS
        value: cHJvZF9wYXNz
