apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dev
namePrefix: dev-
resources:
  - ../../base

configMapGenerator:
  - name: app-settings
    envs: [app.env]

secretGenerator:
  - name: app-secrets
    envs: [secrets.env]

generatorOptions:
  disableNameSuffixHash: true

patchesStrategicMerge:
  - patch-deploy.yaml
