apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: prod-
namespace: production
resources:
  - ../../base
patches:
  - target: { kind: Ingress, name: demo-api }
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: demo.example.com
      - op: add
        path: /metadata/annotations/alb.ingress.kubernetes.io~1listen-ports
        value: '[{"HTTP":80},{"HTTPS":443}]'
      - op: add
        path: /metadata/annotations/alb.ingress.kubernetes.io~1certificate-arn
        value: arn:aws:acm:REGION:ACCOUNT:certificate/REPLACE_ME
