apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: production
namePrefix: prod-
resources:
  - ../../base

configMapGenerator:
  - name: app-settings
    envs: [app.env]

secretGenerator:
  - name: app-secrets
    envs: [secrets.env]

generatorOptions:
  disableNameSuffixHash: true

patchesStrategicMerge:
  - patch-deploy.yaml
patchesJson6902:
  - target:
      version: v1
      group: apps
      kind: Deployment
      name: demo-api
    path: patch-image.json
