apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: placeholder
namePrefix: base-
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml

configMapGenerator:
  - name: app-settings
    literals: [ "APP_ENV=base", "APP_LOG_LEVEL=info" ]
secretGenerator:
  - name: app-secrets
    literals: [ "DB_USER=baseuser", "DB_PASS=basepass" ]

generatorOptions:
  disableNameSuffixHash: true

patchesStrategicMerge:
  - |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: demo-api
    spec:
      template:
        spec:
          containers:
            - name: api
              envFrom:
                - configMapRef: { name: app-settings }
                - secretRef:    { name: app-secrets }
