apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-api
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: api
          resources:
            requests: { cpu: "200m", memory: "256Mi" }
            limits:   { cpu: "600m", memory: "512Mi" }
